<div class="info">

have some lesson info - {{this}} {{id}} {{type}} {{readableStartTime}} {{isGroupEvent}}
<br />
<br />
<div class="pupil-list">
{{#each enrollment in enrollments}}
	<div class="pupil">
		Booked by: {{enrollment.client.name}} <br />
		Pupil name: {{enrollment.pupil.name}} <br />
		Age: {{enrollment.pupil.age}} <br />
	</div>
{{/each}}
</div>

</div>